<html>
    <head>
        <title>파이썬</title>
		<style>
			#map_canvas { height : 100%; }
		</style>
		<script type = "text/javascript" src = "http://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script>
			var latitude, longitude;
			navigator.geolocation.getCurrentPosition(function(pos) {
				latitude = pos.coords.latitude;
				longitude = pos.coords.longitude;
			});


			function initialize(){

			var latlng = new google.maps.LatLng(latitude, longitude);
			var myOptions = {
			zoom: 14,
			center:latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP

			};

			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

			}
		</script>
    </head>
    <body onload="initialize()">
        <div>
            <h1>민.석.아? </h1>
        </div>
		<div id="map_canvas" style="width:540px; height:300px"></div>
        <div>
            <iframe width="540" height="260" src="https://www.youtube.com/embed/YxmTnbD4EHw" frameborder="0" allowfullscreen></iframe>
        </div>
    </body>
</html>